HOST=0.0.0.0
PORT=1337
APP_KEYS="toBeModified1,toBeModified2"
API_TOKEN_SALT=tobemodified
ADMIN_JWT_SECRET=tobemodified
TRANSFER_TOKEN_SALT=tobemodified
JWT_SECRET=tobemodified
ENCRYPTION_KEY=tobemodified

# Brevo Email Configuration
BREVO_API_KEY=YOUR_BREVO_API_KEY_HERE
BREVO_SENDER_EMAIL=sender@domain.tld
BREVO_SENDER_NAME="CyberScope LAB"
CONTACT_DESTINATION_EMAIL=recipient@domain.tld
